.pagination {
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 85px;
  }

  .pagination__list {
    display: flex;
    gap: 28px;
    justify-content: center;

    @media (min-width: $tablet-width) {
      justify-content: flex-end;
    }
  }

  .pagination__item {
    background-color: $white;
    padding: 8px;

    &--previous {
      position: relative;
      padding: 8px 20px;
      color: $base-primary;
    }

    &--next {
      position: relative;
      padding: 8px 20px;
    }

    &--previous-text {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &--next-text {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }

    &--previous:before {
      position: absolute;
      top: 15px;
      left: 15px;
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.80847 -5.20835e-08L7 1.23899L3.38306 5L7 8.76101L5.80847 10L1 5L5.80847 -5.20835e-08Z' fill='%237859CF' /%3E%3C/svg%3E%0A");

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--next:before {
      position: absolute;
      top: 15px;
      right: 15px;
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.19153 -5.20835e-08L3 1.23899L6.61694 5L3 8.76101L4.19153 10L9 5L4.19153 -5.20835e-08Z' fill='%237859CF'/%3E%3C/svg%3E");

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  .pagination__link {
    color: $base-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &--active {
      color: $base-black;
      font-weight: 600;
    }
  }
}
