.social {

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }

  .social__list {
    display: flex;
    gap: 35px;
  }

  .social__link {
    color: $base-grey;


    &:hover,
    &:focus {
      color: $base-primary;
    }
  }
}
