/* здесь используйте глобальные селекторы img, body, html и так далее*/

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $base-black;
}

a:focus {
  color: $base-primary;
}

a:hover {
  color: $base-primary;
}

a:active {
  color: $base-primary;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

h4 {
  color: $base-primary;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  h2 {
    font-size: 42px;
    line-height: 64px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
  }
}

fieldset {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 $container-gap;
  margin: 0 auto;
  max-width: $desktop-width;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding: 0 $container-gap-desktop;
  }
}
